:host{
    font-weight: bold;
    text-align: center;
}
.noTask{
    background-color: cornsilk;
    color: red;
    padding: 20px;
}
.whentask{
    background-color: azure;
    color: blue;
    padding: 20px;
}